[package]
name = "privacypass"
version = "0.1.0"
edition = "2021"
description = "WIP implementation of Privacy Pass"
license = "MIT"
documentation = "https://docs.rs/privacypass"
repository = "https://github.com/raphaelrobert/privacypass"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.56"
base64 = "0.13.0"
generic-array = "0.14.5"
rand = "0.8.5"
serde = "1.0.138"
sha2 = "0.10.2"
thiserror = "1.0.31"
tls_codec = "0.2.0"
voprf = "0.4.0-pre.4"
blind-rsa-signatures = "0.13.0"
pest = "2.2.1"
pest_derive = "2.2.1"
tls_codec_derive = "0.2.0"

[dev-dependencies]
p256 = { version = "0.11", default-features = false, features = [
  "hash2curve",
  "voprf",
] }
tokio = { version = "1.20.0", features = ["full"] }
criterion = { version = "0.3.6", features = ["async_futures", "async_tokio"] }

[[bench]]
name = "benchmark"
harness = false 
